.accountAdmin2838{
    padding: 20px 0px;
    max-width: 1200px;
    margin: auto;
    padding-bottom: 50px;

    .inside-content{

        .veryTop {
            margin: auto 2%;
            padding: 25px 0px;
            border-radius: 4px;
            background-color: #f5f3fc;
          }
      

    }
}