.multipleImages36737{
    width: 450px;
    margin: auto;

    .container{
        margin: 40px auto;

        .image00{
            position: relative;

        img{
            width: 40%;
            height: 200px;
            object-fit: cover;
            margin: 5px;
            cursor: pointer;
        }

        .cover{
            display: none;
        }

        img:hover{
            .cover{
                position: absolute;
                top: 0;
                left: 0;
                display: inline-block;
                z-index: 10;
            }
        }
    }
    }
}