.CreateNewStaff36268{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    z-index: 99999;
    padding: 10px;
    background-color: rgba(250, 250, 250, 0.509);
    
    .inside29039{
        background-color: #fff;
        min-height: 60vh;
        border-radius: 5px;
        padding: 20px 2%;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
        flex-direction: column;
        max-width: min(95vw, 1000px);

        .content-req{
            width: 100%;
            height: 400px;
            margin: 30px auto;
            border-radius: 5px;
            overflow: auto;
            overflow-x: hidden;


            .our-form3636 {
                width: 100%;
                margin: auto;
    
                // for the student register component
                .regParent {
                  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
                    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
                  padding: 30px 10px;
                  max-width: 700px;
                  border-radius: 4px;
                  margin: auto;
                  padding-top: 0px;
    
                  p {
                    margin-bottom: 0;
                    color: rgb(87, 87, 87);
                  }
    
                  .right {
                    float: right;
    
                    .parent {
                      display: inline-block;
    
                      .each {
                        display: flex;
                        margin: auto 8px;
    
                        .box {
                          width: 20px;
                          height: 20px;
                          border-radius: 5px;
                          margin-right: 8px;
                        }
                      }
                    }
                  }
    
                  .content {
                    clear: both;
                    padding-top: 20px;
                    display: flex;
                    flex-wrap: wrap;
    
                    .each {
                      flex-basis: 60px;
                      height: 60px;
                      margin: 4px;
                      border-radius: 6px;
                      cursor: pointer;
                      color: rgb(255, 255, 255);
                      font-weight: 600;
                    }
    
                    .each:hover {
                      background-color: black;
                      scale: 1.05;
                    }
                  }
                }
    
                //for the image select component
                .selectImage {
                  padding: 15px;
                  margin: auto;
                  background-color: white;
                  border-radius: 5px;
                  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
                    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
                  width: 300px;
                  min-height: 300px;
                  cursor: pointer;
                  text-align: center;
    
                  img {
                    width: 250px;
                    height: 200px;
                    border-radius: 4px;
                    object-fit: cover;
                    margin-top: 5px;
                  }
    
                  button {
                    margin: 13px auto;
                    width: 90%;
                    margin-bottom: 0px;
                    padding: 3px 10px;
                    font-size: 14px;
                  }
                }
    
                .form-content6 {
                  padding: 30px 15px;
                  display: flex;
                  flex-wrap: wrap;
                  border-radius: 6px;
                  margin-top: 20px;
                  padding-top: 5px;
    
                  .each {
                    height: max-content;
                    margin: 8px 0px;
                    box-sizing: border-box;
                    padding: 5px 10px;
    
                    p {
                      font-size: 14px;
                      color: rgb(64, 64, 64);
                      margin-bottom: 3px;
                      font-weight: 600;
                      margin-left: 3px;
                    }
    
                    input,
                    textarea {
                      background-color: rgba(230, 230, 230, 0.425);
                      font-size: 14px;
                      border-radius: 4px;
                      padding: 10px 15px;
                      width: 100%;
                    }
    
                    .title{
                      width: 100%;
    
                      p{
                        margin-bottom: 0;
                      }
          
                      .contents{
                          background-color: rgba(195, 195, 195, 0.375);
                          margin: 10px auto;
                          border-radius: 3px;
                          padding: 8px 14px;
          
                          .each{
                              background-color: rgb(204, 203, 203);
                              padding: 10px 10px;
                              border-radius: 4px;
                              margin: 5px;
                              display: inline-block;
                              position: relative;
                              padding-right: 36px;
                              text-transform: capitalize;
          
                              .closes32{
                                  position: absolute;
                                  cursor: pointer;
                                  border-radius: 10px;
                                  width: 20px;
                                  height: 20px;
                                  right: 5px;
                                  top: 5px;
                                  background-color: rgb(156, 156, 156);
                                  font-size: 9px;
                              }
          
                              .closes32:hover{
                                  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                              }
                          }
                      }
          
                    }
    
                    .grouping {
                      display: flex;
                      align-items: center;
                      justify-content: center;
    
                      .inputAdv {
                        width: calc(100% - 50px);
                        border-top-right-radius: 0px;
                        border-bottom-right-radius: 0px;
                        height: 41px;
                      }
    
                      .enterBtn {
                        height: 41px;
                        width: 50px;
                        background-color: #00cbe6 ;
                        color: #fff;
                        border-top-right-radius: 5px;
                        border-bottom-right-radius: 5px;
                        cursor: pointer;
                      }
    
    
                    }
    
                    textarea {
                      height: 90px;
                    }
    
                    .gender-div {
                      padding: 4px 0px;
                      border-radius: 4px;
    
                      input {
                        height: 18px;
                        width: 18px;
                      }
    
                      p {
                        line-height: 18px;
                      }
                    }
    
                    .checkbox-div {
                      width: 100%;
    
                      ul {
                        display: flex;
                        flex-wrap: wrap;
                        width: 100%;
                        justify-content: flex-start;
                        padding: 0px;
                        margin: 0px;
    
                        li {
                          list-style: none;
                          display: flex;
                          margin: 7px 10px;
                          align-items: center;
                          justify-content: center;
                          font-size: 14px;
    
                          input {
                            width: 18px;
                            height: 18px;
                            margin-right: 6px;
                          }
                        }
                      }
                    }
    
                    .dropdown973753 {
                      margin: 0px;
                      margin-top: 8px;
                    }
    
                    .dropdown973753 .container {
                      width: 100%;
                    }
                  }
    
                  .width1 {
                    flex-basis: calc(25%);
                  }
    
                  .width2 {
                    flex-basis: calc(50%);
                  }
    
                  .width3 {
                    flex-basis: 75%;
                  }
                  .width4 {
                    flex-basis: calc(100%);
                  }
    
                  //making things responsive
                  @media only screen and (max-width: 1100px) {
                    .width1 {
                      flex-basis: calc(40%);
                    }
    
                    .width2 {
                      flex-basis: calc(50%);
                    }
    
                    .width3 {
                      flex-basis: 100%;
                    }
                  }
    
                  @media only screen and (max-width: 600px) {
                    .each {
                      flex-basis: calc(100%);
                      margin: 5px auto;
    
                      textarea {
                        height: 125px;
                      }
                    }
                  }
                }
    
                @media only screen and (max-width: 600px) {
                  .form-content6 {
                    padding-left: 5px;
                    padding-right: 5px;
                  }
                }
              }
        }


        .buttons{
            width: 100%;

            button {
                margin: 13px 15px;
                width: min(40%, 200px);
                margin-bottom: 0px;
                padding: 5px 10px;
                font-size: 14px;
                border-radius: 5px;
              }

            :nth-child(2){
                background-color: #01BDD7;
                color: white;
            }
        }

    }
}