.studentSearch23739{
    width: min(94vw, 1000px);
    margin: 0px auto;
    padding: 25px 0px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 2px;

    .container{
        width: 100%;

        .top{

            .search{
                background-color: rgb(241, 241, 241);
                padding-left: 20px;
                padding-right: 20px;
                padding-top: 6px;
                padding-bottom: 6px;
                width: 80%;
                max-width: 640px;
                position: relative;
                border-radius: 5px;

                input{
                    width: calc(100% - 100px);
                    padding: 5px 0px;
                    background-color: rgba(255, 255, 255, 0);
                    color: rgb(44, 44, 44);
                }

                .icon{
                    position: absolute;
                    right: 20px;
                    font-size: 20px;
                    top: 50%;
                    transform: translateY(-50%);
                    cursor: pointer;  
                    // background-color: rgba(128, 128, 128, 0.36);
                    text-align: center;
                    width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 10px;

                    svg{
                        font-size: 15px;
                    }
                }

                .icon:hover{
                    background-color: rgba(199, 199, 199, 0.116);
                    color: black;
                }



            }

            @media screen and (max-width: 1000px) {

                .search{
                    width: 100%;
                }

                .search_text{
                    display: none;
                }

            }

            @media screen and (max-width: 500px) {
                .search{
                    padding-left: 10px;
    
                    input{
                        width: calc(100% - 40px);
                        padding: 5px 0px;
                        background-color: rgba(255, 255, 255, 0);
                        color: rgb(44, 44, 44);
                    }

                    .icon{
                        right: 7px;
                    }
    
                }   
            }
        }

        .bottom{
            margin: 20px auto;
            margin-top: 30px;
            max-width: 900px;
            text-align: center;

            .resultTable{
                width: 100%;
                max-width: 94vw;
                margin: auto;
                min-height: 100px;
                overflow: auto;
              }

        }

    }
}