.notFound{
    .blurhashImg{
        width: fit-content;
        position: relative;
        margin: auto;
        z-index: 1;
    }
    h1{
        text-align: center;
        margin-top: 8vh;
        margin-bottom: 40px;
    }
    div{
        img{
            height: 277;
            width: 360px;
            object-fit: contain;
        }
        @media only screen and (max-width: 600px) {
            img {
                height: 138.5px;
                width: 180px;
            }
          }
    }
    p{
        text-align: center;
        margin: 30px;
    }
    
}