.daily-activities278{

    .texr21{
        p{
            padding-left: 10px;
            color: #454545;
        }
    }

    .dsadasd12xa4{

        
        .for-dropdown{
            justify-content: flex-end;
            padding: 10px 10px;
        }
    }
}