.fee-Structure-admin273{

    .texr21{
        p{
            padding-left: 10px;
            color: #454545;
        }
    }

    .fee-Table{

        
        .for-dropdown{
            justify-content: flex-end;
            padding: 10px 10px;


        }
    }

    .bus-fee-table-container{
        margin: 20px auto;

        flex-wrap: wrap;
        gap: 15px;

        .ind121bsbdjd{
            flex-grow: 1;
            flex-basis: 300px;
        }

    }

    .add-new-place{
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        padding: 15px 5%;
        border-radius: 5px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin: 20px auto;


        .my-inde0237{
            flex-grow: 1;
            flex-basis: 300px;
            padding: 10px;

            input{
                background-color: rgb(235, 235, 235);
                padding: 10px 15px;
                border-radius: 5px;
                width: 100%;
            }
        }
    }
}