.dgudgadguadgu31{
    z-index: 100;

.header{
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
    position: sticky;
    top: 0;
    left: 0;
    background-color: #ffffff;

    .container{
    width: 1000px;
    max-width: 94vw;
    height: 64px;
    z-index: 99;
    background-color: #fff;

    //left
    .left{

        .menu{
            margin: auto 25px auto 15px;
            font-size: 25px;
            display: none;
            color: rgb(41, 41, 41);
        }

        a{
            display: flex;
        .image-container{
            height: 40px;
            width: 40px;
            border-radius: 20px;
            margin-right: 16px;
        }
        h1{
            align-self: center;
            color: rgb(27, 27, 27);
            margin-bottom: 0;
        }
    }

    }

    //center
    .center{
        border: 1px solid rgb(214, 214, 214);
        border-radius: 30px;
        height: 40px;

        ul{
            list-style: none;
            margin: auto 120px;
            padding-left: 0;
            position: relative;

            .active{
                color: #EF9834FF;
            }

            p{
                display: inline-block;
                margin: 0;
                font-size: 20px;
                color: #3a3a3ce9;
                font-weight: 100;
                margin-top: 0px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
            
            li{
                display: inline-block;
                margin: 16px;
                line-height: 0px; 
                text-transform: uppercase;  

                :hover{
                    color: #EF9834FF;
                }

                a{
                    font-size: 14px; 
                    color: #171a1fe9;
                    font-family: 'Inter', sans-serif;   
                }
            }
        }
    }

    @media only screen and (max-width: 1090px) {
        .left{
        .menu{
            display: block;
            width: 40px;
            height: 40px;
            border: 1px solid white;
            background-color: rgba(232, 231, 231, 0.491);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 20px;
        }
        .menu:hover{
            background-color: white;
        }
    }

    .hidden1{
        display: none;
    }

        .center {
            position: fixed;
            width: 240px;
            height: 100vh;
            background-color: #f9f9f9;
            top: 64px;
            left: 0;
            border-radius: 0;
            padding-left: 0;
            padding-right: 0;
            z-index: 999;
            border: 0;
            align-items: flex-start;
            box-shadow: rgba(133, 133, 212, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

            ul{
                margin: 0;
                // background-color: yellow;

                p{
                    display: none;
                }

                text-align: center;
                li{
                    line-height: 34px;
                    text-transform: uppercase;
                    display: block;
                }
            }
        }
      }


    
    //right
    .right{
        p{
            margin: auto 8px;
            font-size: 19px;
        }

        p:hover{

            svg{
                color: yellow;
            }

        }

    }
}
}
}