.seardasydg56262 {
  height: 100vh;
  background-color: #f2f4f7;
  margin: auto;
  padding-top: 25px;
  z-index: 9999999;
  width: 100vw;
  position: fixed;
  top: 0;
  overflow: auto;

  .suggestion-item.highlighted {
    background-color: #f0f0f0; /* Light gray background */
    color: #007bff; /* Optional: Change text color */
    cursor: pointer;
  }

  .main {
    margin: auto;
    width: min(94vw, 750px);
    height: min(600px, 80vh);
    background-color: white;
    border-radius: 6px;
    position: relative;

    .close {
      position: absolute;
      right: 10px;
      top: 10px;
      padding: 10px 16px;
      color: #242424;
      border: 1px solid grey;
    }

    .close:hover {
      border: 1px solid red;
      color: #ff0404;
    }

    .search-container {
      margin: auto;
      padding-top: 20px;
      position: relative;
      width: min(90vw, 90%);
      z-index: 1;
    }

    .search-bar {
      width: 100%;
      padding: 10px;
      border: 1px solid #3edcf1;
      border-radius: 4px;
      margin-top: 50px;
    }

    .suggestion-list {
      position: absolute;
      top: 126px;
      left: 0;
      width: 100%;
      max-height: 300px;
      overflow-y: auto;
      background-color: white;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.08);
      list-style: none;
      padding-left: 6px;
      padding-right: 6px;
      padding-top: 23px;
      padding-bottom: 23px;
    }

    .suggestion-item {
      padding: 10px;
      cursor: pointer;

      &:hover {
        background-color: #eee;
      }
    }
  }
}
