//Fonts Imports
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@200;300;400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  scroll-behavior: smooth;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: all 0.2s ease;
}

// ::-webkit-scrollbar-button {
//   display: none; /* Hide the scrollbar buttons */
// }

a {
  text-decoration: none;
}

.icon-white {
  color: #ffffff;
}

.flex1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.flex3 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.flex4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body {
  overflow-x: hidden;
}

// font families

.f1 {
  font-family: "Poppins", sans-serif;
}
.f2 {
  font-family: "Epilogue", sans-serif;
}
.f3 {
  font-family: "Inter", sans-serif;
}

// font sizes

.h1 {
  font-size: min(7vw, 48px);
}
.h2 {
  font-size: min(6.5vw, 39px);
}
.h3 {
  font-size: min(6vw, 31px);
}
.h4 {
  font-size: min(5.3vw, 25px);
}
.h5 {
  font-size: min(4.2vw, 20px);
}
.h6 {
  font-size: min(3.6vw, 15px);
}
.h7 {
  font-size: min(3vw, 12px);
}
.h8 {
  font-size: min(2.6vw, 10px);
}
.h9 {
  font-size: min(1.8vw, 8px);
}

// font weight

.w100 {
  font-weight: 100;
}
.w200 {
  font-weight: 200;
}
.w300 {
  font-weight: 300;
}
.w400 {
  font-weight: 400;
}
.w500 {
  font-weight: 500;
}
.w600 {
  font-weight: 600;
}
.w700 {
  font-weight: 700;
}
.w800 {
  font-weight: 800;
}

.text-left {
  text-align: left;
}

//display

.d-inline {
  display: inline;
}
// .hidden{
//   display: none;
// }

.d-block {
  display: block;
}
.m-auto {
  margin: auto;
}

//text
.text-capitalize {
  text-transform: capitalize;
}
.text-center {
  text-align: center;
}

.line {
  width: min(1200px, 94vw);
  height: 2px;
  background-color: #dfe1e7;
  margin: auto;
  display: block;
}

.width {
  width: 1200px;
  max-width: 94vw;
  margin: auto;
}

//some styles i don't wanna touch
.button-66 {
  background-color: #0a6bff;
  border-radius: 4px;
  border: 0;
  box-shadow: rgba(1, 60, 136, 0.5) 0 -1px 3px 0 inset,
    rgba(0, 44, 97, 0.1) 0 3px 6px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inherit;
  font-family: "Space Grotesk", -apple-system, system-ui, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  margin: 0;
  min-height: 40px;
  min-width: 120px;
  padding: 16px 20px;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  transition: all 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.button-66:hover {
  background-color: #065dd8;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .button-66 {
    padding: 16px 44px;
    min-width: 150px;
  }
}

.test {
  background-color: wheat;
  border: 2px solid green;
  min-width: 300px;
  min-height: 400px;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 5.5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #5c56ffca; /* Color of the thumb */
  border-radius: 6px; /* Rounded corners for the thumb */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

.custom-scrollbar::-webkit-scrollbar-button {
  display: none; /* Hide the scrollbar buttons */
}

.errorElement {
  transition: transform 0.3s;
}

.shake {
  animation: shake 0.5s;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25%,
  75% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
}

//input

$primary: #0077ff;
$dark: #000;

.inp {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 280px;
  border-radius: 3px;
  overflow: hidden;

  .label {
    position: absolute;
    top: 20px;
    left: 12px;
    font-size: 16px;
    color: rgba($dark, 0.5);
    font-weight: 500;
    transform-origin: 0 0;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
    pointer-events: none;
  }

  .focus-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($dark, 0.06);
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
  }

  input {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 16px 12px 0 12px;
    height: 56px;
    font-size: 14px;
    font-weight: 400;
    background: rgba($dark, 0.02);
    box-shadow: inset 0 -1px 0 rgba($dark, 0.3);
    color: $dark;
    transition: all 0.15s ease;

    &:hover {
      background: rgba($dark, 0.04);
      box-shadow: inset 0 -1px 0 rgba($dark, 0.5);
    }

    &:not(:placeholder-shown) + .label {
      color: rgba($dark, 0.5);
      transform: translate3d(0, -12px, 0) scale(0.75);
    }

    &:focus {
      background: rgba($dark, 0.05);
      outline: none;
      box-shadow: inset 0 -2px 0 $primary;
      + .label {
        color: $primary;
        transform: translate3d(0, -12px, 0) scale(0.75);
      }
      + .focus-bg {
        transform: scaleX(1);
        transition: all 0.1s ease;
      }
    }
  }
}

.dshauda-hidden,
.dshauda-hidden32,
.dshauda-hidden322,
.dshauda-hidden321 {
  overflow: hidden;
}

.fashw {
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 255, 255);
}

.input1 {
  width: 100%;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 5px;
  background-color: rgb(238, 238, 238);
}

.object-contain {
  object-fit: contain !important;
}

button {
  svg {
    border: none !important;
  }
  svg:hover {
    border: none !important;
  }
}

.shadow1 {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

/* For all number inputs */
input[type="number"] {
  appearance: none; /* Removes the default appearance */
  -moz-appearance: textfield; /* Removes arrows in Firefox */
}

/* Specifically for WebKit browsers (Chrome, Safari, Edge, etc.) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none; /* Removes the spin buttons */
  margin: 0; /* Ensures no extra space */
}



