.uploadImages8329{
    height: 100%;
    background-color: #f2f4f7f7;
    backdrop-filter: blur(20px);
    margin: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    z-index: 9999;
    width: 100vw;
    position: fixed;
    top: 0;
    overflow: auto;


    .main{
        margin: auto;
        width: min(94vw, 750px);
        background-color: rgb(255, 255, 255);
        border-radius: 6px;
        position: relative;
        padding-bottom: 30px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

        p{
            margin-bottom: 0;
        }

        .close{
            position: absolute;
            right: 10px;
            top: 10px;
            padding: 10px 16px;
            color: #242424;
            border: 1px solid grey;
          }
      
          .close:hover{
            border: 1px solid red;
            color: #ff0404;
          }


          .title{
            padding: 0px 10px;
            margin: auto 8vw;

            .contentsds{
                background-color: rgba(195, 195, 195, 0.375) !important;
                margin: 10px auto;
                border-radius: 3px;
                padding: 8px 14px;

                .each{
                    background-color: rgb(204, 203, 203);
                    padding: 10px 10px;
                    border-radius: 4px;
                    margin: 5px;
                    display: inline-block;
                    position: relative;
                    padding-right: 36px;
                    text-transform: capitalize;

                    .closes32{
                        position: absolute;
                        cursor: pointer;
                        border-radius: 10px;
                        width: 20px;
                        height: 20px;
                        right: 5px;
                        top: 5px;
                        background-color: rgb(156, 156, 156);
                        font-size: 9px;
                    }

                    .closes32:hover{
                        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                    }
                }
            }

          }

          .addTags{
            padding: 20px 10px;
            margin: auto 8vw;

            .contentsds{
                background-color: rgba(195, 195, 195, 0.375);
                margin: 10px auto;
                border-radius: 3px;
                padding: 8px 14px;

                .each{
                    padding: 10px 10px;
                    border-radius: 4px;
                    margin: 5px;
                    display: inline-block;
                    position: relative;
                    text-transform: capitalize;
                    color: white;
                    cursor: pointer;
                }

                .each:hover{
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
                }

                .bg1{
                    background-color: #1091F4;
                }

          }

        }

          .images{
            margin: 10px 8vw;
            overflow: auto;
            display: flex;

            .img{
                margin: 3px;
                position: relative;

                .delete{
                    position: absolute;
                    top: 7px;
                    right: 5px;
                    width: 18px;
                    height: 18px;
                    z-index: 10;
                    border-radius: 9px;
                    background-color: white;
                    cursor: pointer;
                    font-size: 12px;
                    font-weight: 600;
                }

                .delete:hover{
                    background-color: red;
                    color: white;
                }

            img{
                width: 100px;
                height: 100px;
                object-fit: cover;
                border-radius: 3px;
            }
        }
          }

          .addImage{
            padding: 10px 8vw;

            button{
                border: 1px solid rgba(128, 128, 128, 0.709);
                // transition: all 0s ease;
            }

            button:hover{
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                // border: 1px solid rgba(190, 189, 189, 0.709);
            }
          }

          .more{
            margin: 20px 8vw;
            min-height: 100px;
            border-radius: 2px;
            background-color: rgba(128, 128, 128, 0.05);
            padding-top: 20px;
            padding-bottom: 20px;

            .who{
                padding: 10px 20px;
                justify-content: flex-start;
                position: relative;

                p{
                    margin-bottom: 0;
                }

                select{
                    position: absolute;
                    right: 10px;
                    background-color: rgba(128, 128, 128, 0.164);
                    font-size: 12px;
                    padding: 8px 10px;
                    border-radius: 3px;

                    option{
                        padding: 3px;
                    }
                }

                .dhsdskd{
                    position: absolute;
                    right: 10px;
                    font-size: 24px;
                }
            }
          }

          .buttons{
            padding: 2vw 8vw;
            justify-content: flex-end;
            margin-top: 20px;
          }
    }

} 